/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.5;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html{
	font-size: 16px;
	scroll-behavior: smooth;
}
/* general  */

.btn-hover:hover{
	background-color: var(--primary);
	transition: 0.7s;
}

.container{
	max-width: 1220px;
	width: 100%;
	margin: 0 auto;
	padding: 0 2rem;
}

a{
	text-decoration: none;
}
/* flex  */

.flex{
	display: flex;
}
.space-between{
	justify-content: space-between;
}
.items-center{
	justify-items: center;
	align-items: center;
}
.wrap{
	flex-wrap: wrap;
}
.center{
	text-align: center;
}
.row{
	flex-direction: row;
}
.column{
	flex-direction: column;
}

/* flex-basis  */
.flex-10{
	flex: 0 1 10%;
}
.flex-15{
	flex: 0 1 15%;
}
.flex-20{
	flex: 0 1 20%;
}
.flex-24{
	flex: 0 1 24%;
}
.flex-27{
	flex: 0 1 27%;
}
.flex-30{
	flex: 0 1 30%;
}
.flex-24{
	flex: 0 1 24%;
}
.flex-40{
	flex: 0 1 40%;
}
.flex-45{
	flex: 0 1 45%;
}
.flex-48{
	flex: 0 1 48%;
}
.flex-60{
	flex: 0 1 60%;
}
.flex-70{
	flex: 0 1 70%;
}
.flex-90{
	flex: 0 1 90%;
}
/* color  */
:root{
--primary: #ea5433;
--section-bg: #fef9f7;
--text-dark: #312b2a;
--text-light: #635551;
--pricing-bg: #f8f8f8;
--bg-color: rgba(83, 71, 68, 0.8);
}

/* header  */
#header{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	background-color: white;
	padding: 1rem;
	margin: 0 auto;
	width: 100%;
}
.brand{
	color: var(--text-light);
	font-size: 1.5rem;
	font-weight: 700;
	text-decoration: none;
}
.nav-btn{
	color: var(--text-light);
	text-decoration: none;
	margin-left:1.5rem;
	text-transform: capitalize
}
.active{
	color: var(--primary);
	text-transform: capitalize;
}
.nav-btn:hover{
	color: var(--primary);
	transition: 0.4s;
}
.drop-down{
	position: relative;
	width: 8rem;
}
.drop-down-2{
	position: relative;
	width: 8rem;
}
.option{
	display: none;
	background-color: white;
	position:absolute;
	top:1.5rem;
	right: 0rem;
	padding: 1rem;
	border-radius: 1rem;
	width:9rem;
	height: auto;
}
.option-2{
	display: none;
	background-color: white;
	position:absolute;
	left: 8rem;
	top: 0rem;
	border-radius: 1rem;
	width: 15rem;
	width: 100%;
	padding: 1rem 0;
	height: auto;
}
.option li a{
	color: var(--text-light);
	padding-left: 1rem;
}
.drop-down:hover .option{
	display: block;
}
.option li a:hover{
	color:var(--primary);
	transition: 0.4s;
}
.drop-down-2:hover .option-2{
	display: block;
}

#toggle{
	display: none;
}
.bars{
	display: none;
}

/* bg-img  */
.bg-img{
	background:linear-gradient(rgba(75, 74, 74,0.6),rgba(75, 74, 74,0.6)) ,url(/assets/media/hero-bg.jpg) no-repeat center center/cover;
	height: 50vh;
	width: 100%;
	background-attachment: fixed;
}

/* section  */
#section-2{
	position: relative;
	bottom: 34rem;
}
.head-1{
	font-size: 3rem;
	text-transform: capitalize;
	color: white;
	font-weight: 900;
	padding-top: 8rem ;
}
.head-3{
	font-size: 1.5rem;
	color: white;
	font-weight: 500;
	padding-top: 1rem ;
	padding-bottom: 2.5rem ;
}
.arrow-btn{
    background-color: var(--primary);
    padding: 1.4rem;
    font-size: 1.4rem;
    border-radius: 50%;
    z-index: 99;
    position: absolute;
    left: 0;
	top: -0.4rem;
}
.btn{
	background-color: var(--bg-color);
    padding: 0.8rem 2.5rem;
    border-radius: 3rem;
    padding-left: 3.9rem;
    position: relative;
    width: 7rem;
    text-align: center;
    color: white;
	top: 0rem;
	left: 0rem;
}

/* hero section */
#hero-section{
	position: relative;
	bottom: 20rem;
	height: 10rem;
}

.container-box{
	position: relative;
	bottom:9rem;
}

.card-1{
	background-color: var(--primary);
	color: white;
	padding: 2rem;
	height: 25rem;
}
.hero-head-1{
	font-size: 2.2rem;
	text-transform: capitalize;
	font-weight: 900;
}
.hero-para{
	padding-top: 1rem;
}
.btn-secondary{
	background-color: #f58c74;
	padding: 0.6rem 1.5rem;
	border-radius: 2rem;
	text-transform: capitalize;
	width: 30%;
	margin: 0 auto;
	margin-top: 2rem;
	padding-left: 2rem;
}
.btn-secondary i{
	font-size:0.6rem;
	margin-left: 0.6rem;
}
.btn-secondary:hover{
	background-color: white;
	color: var(--primary);
	transition: 0.4s;
}

/* card-2 */
.card-2{
	background-color: white;
	border-radius: 1rem;
	padding: 2rem;
	text-align: center;
	height: 17rem;
}
.card-icon i{
	color: var(--primary);
	font-size: 1.5rem;
	padding: 1.5rem;
}
.card-head{
	font-weight: 900;
	font-size: 1.3rem;
	padding-bottom: 1.5rem;
	color: var(--text-dark);
}
.card-para{
	color: var(--text-light);
	font-size: 0.8rem;
}
/* about section  */
.width-full{
	width: 100%;
}
.video img{
	height: 43rem;
}
.play-btn{
	color: white;
	background-color: var(--primary);
	padding: 1.5rem 1.6rem;
	border-radius: 50%;
	position: relative;
	bottom:26rem;
	left: 13rem;
	z-index: 2;
	font-size: 2rem;
}
.play-btn:after{
	content:"  ";
	z-index: 1;
	border: 20px solid #ec7e65;
	border-radius: 50%;
	position: absolute;
	top: -1.2rem;
	bottom: -1.2rem;
	left: -1.2rem;
	right: -1.2rem;
	opacity: 0;
	animation: bloom 1.5s linear infinite;
}

@keyframes bloom
{
	0%{
		transform: scale(.5);
	}
	50%{
		opacity: 1;
	}
	100%{
		transform: scale(1.5);
	}
}

.col{
	padding: 2rem;
	text-transform: capitalize;
}
.about-head5{
	color: var(--text-light);
	font-size: 1.3rem;
	font-weight:600;
}
.about-head2{
	color: var(--text-dark);
	font-size: 2rem;
	margin-top: 0.5rem;
	font-weight: 900;
}
.about-para{
	color: var(--text-light);
	font-size: 1.1rem;
	font-weight:600;
}
.about-icon{
	padding: 1.5rem;
	font-size: 1.3rem;
	color: var(--primary);
	border: 0.1rem solid var(--primary);
	border-radius: 100%;
	margin-right: 2rem;
}
.content:hover .about-icon{
	color: white;
	background-color: var(--primary);
	transition:.5s;
}
.content{
	margin-top: 4rem;
}
.about-head3{
	color: var(--text-dark);
	font-size: 1.2rem;
	font-weight: 700;
}
.about-para2{
	color: var(--text-light);
	font-size: 0.8rem;
}

/* clients-section  */
.client{
	width: 10%;
	filter: grayscale(100%);
	margin-left: 2.5rem;
  } 
  .client:hover {
	filter: none;
  }
  .client-list {
	display: flex;
	width: 100%;
	overflow-y: auto;
	gap: 1rem;
	padding: 2.5rem;
  }
  
  .client-list::-webkit-scrollbar{
	display: none;
  }
  .dot {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: var(--primary);
	margin-left: 0.5%;
  }
  .dot1 {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: gray;
	margin-left: 1%;
  }
  .dot-container{
	margin: 0 auto;
	width: 1rem;
  }
  .display-none{
	display: none;
  }

  /* services -section  */
  #services{
	padding:4rem 0;
  }
  .service-head{
	color: var(--text-dark);
	font-size: 1.7rem;
	font-weight: 800;
	text-align: center;
  }
  .service-para{
	color: var(--text-light);
	padding: 0.5rem;
	font-weight: 600;
	text-align: center;
  }
  .service-box{
	padding:2rem ;
	text-align: center;
	box-shadow: 0.2rem 0.2rem 1rem black;
	margin: 3rem 1rem;
  }
  .service-box-head{
	color: var(--text-dark);
	font-size: 1.5rem;
	font-weight: 900;
	padding: 1rem 0;
  }
  .service-box-para{
	color: var(--text-light);
	font-size: 1.01rem;
	font-weight: 600;
  }
  .service-icon{
	color: white;
	position: relative;
	bottom: 5rem;
	background-color: var(--primary);
	width: 2rem;
	height: 2rem;
	margin: 0 auto;
	padding: 1rem;
	border: 0.5rem solid var(--primary);
	border-radius: 100%;
  }
  .service-icon:hover{
	color: var(--primary);
	background-color: white;
	padding: 1.2rem;
  }

  /* section-7 */
  #section-7{
	padding:3rem;
  }
  .box1-section7{
	background: url(/assets/media/values-1.jpg) no-repeat center center/cover;
	height: 21rem;
	margin: 1rem;
  }
  .box2-section7{
	background: url(/assets/media/values-2.jpg) no-repeat center center/cover;
	height: 21rem;
	margin: 1rem;
  }
  .box3-section7{
	background: url(/assets/media/values-3.jpg) no-repeat center center/cover;
	height: 21rem;
	margin: 1rem;
  }
  .box4-section7{
	background: url(/assets/media/values-4.jpg) no-repeat center center/cover;
	height: 21rem;
	margin: 1rem;
  }
  .inner-box-section7{
	background:linear-gradient(rgba(255, 255, 255, 0.8),rgba(255, 255, 255, 0.8));
	padding: 0.7rem;
	position: relative;
	top: 12rem;
	left: 1rem;
	width: 90%;
  }
  .inner-box-section7:hover{
		background-color: var(--primary);
  }
  .box-head-section7{
	text-align: center;
	font-weight: 800;
	font-size: 1.5rem;
	color: var(--text-dark);
  }
  .box-para-section7{
	color: var(--text-light);
	font-weight: 400;
  }
  .read-more-btn{
	font-size: 0.8rem;
  }

  /* quote */
  #bg-testimonial{
	background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.637)), url(/assets/media/testimonials-bg.jpg)no-repeat center center/cover;
	height: 60vh;
	background-attachment: fixed;
	width: 100%;
	text-align: center;
  }
  .owner-img{
	width:6rem;
	border-radius: 100%;
	margin-top: 5rem;
  }
  .testimonial-head3{
	font-weight: 900;
	color: white;
	font-size: 1.5rem;
  }
  .testimonial-head5{
	color:rgb(196, 186, 186);
	font-size: 1.1rem;
  }
  .quote{
	margin-top: 3rem;
  }
  .testi-para{
	color: white;
  }
  .quotation-1{
	color: rgb(155, 148, 148);
	font-size: 2.4rem;
  }
  .quotation-2{
	margin-left: 38rem;
	color: rgb(155, 148, 148);
	font-size: 2.4rem;
  }
  .testi-dot-container{
	width: 12rem;
	margin: 2rem auto;
	padding-left: 2rem;
  }
  .testi-dot{
	  height:10px;
	  margin-left: 1rem;
	  width: 10px;
	  border-radius: 100%;
	  background-color: grey;
	}
	.active-dot{
	  background-color: var(--primary);
	}

	/* portfolio */
	#portfolio{
		padding: 5rem 0;
	}
	.portfolio-nav{
		margin:5rem auto;
		width: 13rem;

	}
	.portfolio-nav a{
		color: var(--text-light);
		margin-left:1rem;
		font-size: 1.3rem;
		font-weight: 900;
	}
	.portfolio-nav a:hover{
		color: var(--primary);
	}
	#active-tag{
		color: var(--primary);
	}
	.portfolio-box{
		display: none;
		position:absolute;
		bottom: 1rem;
		background-color: white;
		color: var(--text-dark);
		font-size: 1.3rem;
		padding: 1rem;
		width: 100%;
	}
	.box-tag{
		padding-right: 10rem;
	}
	#portfolio figure{
		margin: 2rem 0;
		position: relative;
	}
	#portfolio figure:hover .portfolio-box{
		display: flex;
	}

	/* team  */
	#team{
		padding: 5rem 0;
	}
	.team-img{
		position: relative;
		box-shadow:5px 5px 10px  black;
		margin-top: 2rem;
	}
	.about-team{
		background-color: white;
		padding: 1rem;
		color: var(--text-dark);
		text-align: center;
		text-transform: capitalize;
	
	}
	.team-name{
		font-size: 1.3rem;
		font-weight: 900;
	}
	.team-proffesion{
		font-size: 1.1rem;
		font-weight: 500;
	}
	.team-contact{
		display: none;
		position: absolute;
		bottom: 7rem;
		background-color: white;
		padding: 1rem;
		width: 100%;
		padding-left: 3rem;
	}
	.team-contact i{
		margin-left:1rem;
	}
	.team-img:hover .team-contact{
		display: flex;
	}
	
	/* pricing  */
	#pricing{
		padding: 5rem 0;
	}
	.price-box{
		text-align: center;
		padding: 0 2rem;
		margin-top: 5rem;
		box-shadow: 2px 2px 7px black;
	}
	.price-box-head{
		font-size: 1.1rem;
		font-weight: 900;
		color: var(--text-dark);
		padding: 1rem;
	}
	.price-active{
		background-color: var(--primary);
		color: white;
	}
	.price-box-head:hover{
		background-color: var(--primary);
		color: white;
	}
	.price-box-head3{
		color: var(--text-light);
		font-size: 1.1rem;
		font-weight: 800;
		padding: 0.1rem;
	}
	#price{
		color: var(--primary);
		font-size: 4.5rem;
	}
	#dollar{
		color: var(--primary);
		font-size: 2rem;
		position: relative;
		bottom: 1rem;
	}
	.price-box-head5-avl{
		font-size: 1.1rem;
		padding: 0.5rem 0;
		font-weight: 900;
		text-transform: capitalize;
	}
	.price-box-head5-not-avl{
		font-weight: 900;
		font-size: 1.1rem;
		padding: 0.5rem 0;
		color: grey;
		text-decoration: line-through;
		text-transform: capitalize;
	}
	.price-btn{
		color: white;
		background-color: var(--primary);
		font-size: 1.5rem;
		border: none;
		border-radius: 1rem;
		box-shadow: 1px 1px var(--primary);
		padding:0.8rem ;
		width: 100%;
		margin: 2rem 0;
		box-shadow: 2px 2px 7px var(--primary);
	}
	.price-btn:hover{
		background-color: #f58c74;
		margin-top: 2rem;
	}

	/* frequently asked questions  */
	.faq{
		padding: 5rem 0;
	}
	.asked-question{
		padding-top:5rem ;
		padding-left: 4rem;
		padding-right: 4rem;
	}
	#mark{
		color: var(--primary);
		padding-right: 1rem;
		font-weight: 700;
		font-size: 1.2rem;
	}
	#up-icon{
		color: var(--primary);
		font-weight: 700;
	}
	.question{
		color: var(--primary);
		font-weight: 900;
		font-size: 1.2rem;
	}
	.answer{
		padding: 1rem 0;
		color: var(--text-light);
		font-weight: 800;
	}
	.padding-top{
		padding-top: 2rem;
	}
	.padding-top:hover{
		color: var(--primary);
	}
	.not-opened{
		font-weight: 900;
		font-size: 1.2rem;
	}
	.not-opened:hover{
		color: var(--primary);
	}

	/* contact swection  */
	#contact{
		margin: 5rem 0;
	}
	.information{
		width: 70%;
		margin: 0 auto;
		margin-top: 5rem;
	}

	.info-box{
		box-shadow: 3px 3px 5px black;
		padding: 1rem;
	}
	.info-box:hover .info-box-icon{
		color: white;
		background-color: var(--primary);
	}
	.info-box-icon{
		color: var(--primary);
		padding: 0.5rem;
		text-align: center;
		border: 1px solid var(--primary);
		border-radius: 100%;
		width: 1.5rem;
		height: 1.5rem;
		margin: 1rem;
	}
	.box-info{
		margin-right: 1rem;
	}
	.info-box-head{
		color: var(--text-dark);
		font-size: 1.2rem;
		font-weight: 900;
		text-transform: capitalize;
	}
	.info-box-para{
		color: var(--text-light);
		font-weight: 600;
	}
	/* form  */
	#contact form{
		width: 70%;
		margin: 3rem auto;
		padding: 1rem;
		box-shadow: 3px 3px 7px ;
	}
	.form-input{
		width: 40%;
		margin: 1rem;
		padding: 0.8rem;
	}
	.form-input2{
		width: 91%;
		margin: 1rem;
		padding: 0.8rem;
	}
	#form-message{
		width: 91%;
		margin: 1rem;
		padding: 0.8rem;
	}

	.form-btn{
		color: white;
		background-color: var(--primary);
		padding: 1rem;
		margin: 0 auto;
		width: 7rem;
		font-weight: 900;
		border-radius: 1rem;
	}
	.form-btn:hover{
		background-color: #ec7e65;
	}


	/* footer  */
	#footer{
		margin-top: 10rem;
		margin-bottom:5rem;
	}
	.footer-brand{
		font-size: 1.5rem;
	}
	.bold{
		color: black;
		font-weight: 900;
	}
	.footer-address{
		margin-bottom:2.2rem;
	}

	.links-head{
		text-transform: capitalize;
		color: var(--text-dark);
		font: 1.1rem;
		margin-bottom: 1rem;
		font-weight: 700;
	}
	.links ul li{
		margin-bottom: 1rem;
	}
	.links ul li a{
		text-transform: capitalize;
		color: var(--text-light);
	}
	.links ul li a:hover{
		color: var(--primary);
	}
	.links-icon{
		color: var(--primary);
		margin-right:1rem ;
	}
	.newsletter{
		position: relative;
	}
	#footer input{
		border-radius: 1rem ;
		margin-top: 1.7rem;
		padding: 0.5rem;
		border: 1px solid var(--primary);
	}
	.footer-btn{
		padding:0.5rem 1.5rem;
		color: white;
		background-color: var(--primary);
		border-radius: 1rem;
		width: 5rem;
		position: absolute;
		left: 10rem;
		bottom: 5.5rem;
	}
	.footer-btn:hover{
		background-color: #ec7e65;
	}
	.foot-social-media{
		border-radius: 100%;
		color: white;
		background-color: var(--primary);
		padding: 1rem;
		text-align: center;
		margin: 0 0.5rem;
	}
	.foot-social-media:hover{
	background-color: #f58c74;
	}
	.primary{
		color: var(--primary);
	}

	#btn-top{
		position: fixed;
		bottom: 2rem;
		right: 2rem;
		padding:0.6rem;
		background-color: var(--primary);
	}
	#btn-top a{
		color: white;
	}


	/* responsive */
	@media screen and (max-width:1200px){
		html{
			font-size: 14px;
		}
		.container{
			max-width: 1000px;
		}
	}
	@media screen and (max-width:1000px){
		html{
			font-size: 13px;
		}
		.container{
			max-width: 900px;
		}
	}
	@media screen and (max-width:900px){
		html{
			font-size: 12px;
		}
		.container{
			max-width: 800px;
		}
	}
	@media screen and (max-width:768px){
		html{
			font-size: 8px;
		}
		.container{
			max-width: 500px;
		}
		/* general  */
		.med-column{
			flex-direction: column;
		}
		.flex-24{
			flex: 0 1 37%;
		}
		.flex-27, .flex-20{
			flex: 0 1 45%;
		}
		.flex-15{
			flex:0 1 40%;
		}
		/* bg-img  */
		.bg-img{
			height: 40vh;
		}
		/* navbar  */
		.navbar{
			width: 90%;
		}
		.nav{
			display: none;
			position:fixed;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			background-color: rgba(234, 84, 51, 0.9);
			padding-left:50% ;
			padding-top: 14rem;
			z-index: 9;
		}
		.active{
			color: white;
			margin-left: 1.5rem;	
		}
		.nav-btn{
			color: white;;
		}
		.drop-down{
			margin-left:-1.5rem;
		}
		#toggle{
			display: none;
		}
		.bars{
			color: var(--primary);
			padding: 0.5rem;	
			display: block;
			z-index: 99;
			font-size: 1.3rem;
		}
		#toggle:checked~.bars{
			color: white;
		}
		#toggle:checked~ .nav{
			display: inline-block;
		}
		/* hero-section */
		.btn-secondary{
			width: 8rem;
		}
		#hero-section{
			position: static;
			height: 0;
			margin-top:-28rem;
			margin-bottom:60rem;
		}
		.container-box{
			position: static;
		}
		/* about-section  */
		.play-btn{
			left: 50%;
		}
		/* clients-section */
		.client{
			width: 15%;
			padding:0 2.5%;
		}
		.dot-container{
			width: 4rem;
		}
		/* team-section */
		.team-contact{
			padding:2rem 35%;
			text-align: center;
		}
		/* footer  */
		.footer-btn{
			bottom: 5.2rem;
			left: 11rem;
		}
		.margin-auto{
			width: 50%;
			margin: 0 auto;
			padding-left:7rem ;
			padding-top: 2rem;
		}
	}
	@media screen and (max-width:500px){
		html{
			font-size: 8px;
		}
		.container{
			max-width: 300px;
		}
		.bg-img{
			height: 50vh;
		}
		#hero-section{
			padding-bottom: 8rem;
		}
		.client{
			width: 25%;
			padding: 6.5%;
		}
		.display-none{
			display: block;
		}
		.dot-container{
			width: 11rem;
			padding-left:6rem ;
		}
		.flex-24, .flex-45{
			flex: 0 1 95%;
		}
		.flex-27, .flex-20, .flex-15{
			flex: 0 1 98%;
		}
		#bg-testimonial{
			height: 90vh;
		}
		/* form  */
		#contact form{
			width: 100%;
		}
		.form-input{
			width: 90%;
		}
		.footer-btn{
			bottom: 0.1rem;
			left: 21rem;
			padding: 0.8rem 1.5rem;
		}
		.copy{
			margin-top: 3rem;
		}
		.margin-auto{
			padding-left: 1rem;
		}
	}